:root {
  --primary-color: #ff69b4;
  --background-color: #fff0f5;
  --text-color: #333333;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: transparent;
}

#app {
  width: 100vw;
  height: 100vh;
}


#background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1; /* Behind Mofu */
}

#background-layer,
#border-layer,
#ground-layer {
  position: absolute;
  left: 0;
  width: 100%;
  image-rendering: pixelated;
}

#background-layer {
  top: 0;
  /* height will be set dynamically by JS */
}

#border-layer,
#ground-layer {
  bottom: 0;
  /* height will be set dynamically by JS */
}